/* Customize the modal styles as needed */
.modal-content {
    border-radius: 10px;
    text-align: center;
  }
  
  
  .modal-footer {
    background-color: #f8f9fa; /* Change the background color as desired */
  }
  

  