@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.492);
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 3rem;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
